[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/purcell/auto-complete.git
[submodule "site-lisp/erlware-mode"]
	path = site-lisp/erlware-mode
	url = https://github.com/erlware/erlware-mode.git
[submodule "site-lisp/lively"]
	path = site-lisp/lively
	url = https://github.com/emacsmirror/lively.git
[submodule "site-lisp/smarty-mode"]
	path = site-lisp/smarty-mode
	url = https://github.com/emacsmirror/smarty-mode.git
[submodule "site-lisp/csv-nav"]
	path = site-lisp/csv-nav
	url = https://github.com/emacsmirror/csv-nav.git
[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "site-lisp/flymake-python-pyflakes"]
	path = site-lisp/flymake-python-pyflakes
	url = https://github.com/purcell/flymake-python-pyflakes.git
[submodule "site-lisp/flymake-coffee"]
	path = site-lisp/flymake-coffee
	url = https://github.com/purcell/flymake-coffee.git
[submodule "site-lisp/flymake-haml"]
	path = site-lisp/flymake-haml
	url = https://github.com/purcell/flymake-haml.git
[submodule "site-lisp/flymake-ruby"]
	path = site-lisp/flymake-ruby
	url = https://github.com/purcell/flymake-ruby.git
[submodule "site-lisp/iedit"]
	path = site-lisp/iedit
	url = https://github.com/emacsmirror/iedit.git
[submodule "site-lisp/external-abook"]
	path = site-lisp/external-abook
	url = https://github.com/emacsmirror/external-abook.git
[submodule "site-lisp/pretty-mode"]
	path = site-lisp/pretty-mode
	url = https://github.com/emacsmirror/pretty-mode.git
[submodule "site-lisp/less-css-mode"]
	path = site-lisp/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
